<div class="portfoliosContainer">
  <h1 class="title">Portifólios</h1>
  <p class="subtitle">Confira os portifólios dos participantes do projeto</p>
  <div class="portfolios">
    <div class="portfolio">
      <img src="profilePic.jpg" alt="Guilherme Falcão" />
      <div class="userDescription">
        <h1 class="username">Guilherme Falcão</h1>
        <p class="usertext">Criador do site e Desenvolvedor Full-Stack</p>
        <p class="usertext">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptate consequuntur facere atque praesentium quis fuga eveniet
          voluptatum minus possimus quisquam cum est aspernatur, tempore ut
          totam. Omnis, dolore ea.
        </p>
        <p class="usertext">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptate consequuntur facere atque praesentium quis fuga eveniet
          voluptatum minus possimus quisquam cum est aspernatur, tempore ut
          totam. Omnis, dolore ea.
        </p>

        <button class="access">Acessar portifólio</button>
      </div>
    </div>
  </div>
</div>
