<div class="c1">

  <div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
  </div>

  <div class="content">
    <h1 class="title">Mostre suas habilidades em estilização para seus recrutadores</h1>
    <p class="subtitle">Amplie seu portifólio e seus conhecimentos na estilização de aplicações web</p>
    <div class="buttons">
      <button class="start">Começar</button>
      <button class="discover">Descubra</button>
    </div>

  </div>

  <div class="c2">

  </div>
</div>


