<div class="c1">
  <div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div>

  <div class="content">
    <h1 class="title">
      Mostre suas habilidades em estilização para seus recrutadores
    </h1>
    <p class="subtitle">
      Amplie seu portifólio e seus conhecimentos na estilização de aplicações
      web
    </p>
    <div class="buttons">
      <button class="start">COMEÇAR</button>
      <a routerLink="portifolios"><button class="discover">DESCUBRA</button></a>
    </div>
  </div>
</div>

<div class="c2">
  <h1 class="title">O que você transmite ao participar do projeto?</h1>
  <div class="topics">
    <div class="row1">
      <div class="topic">
        <h3 class="subtitle">
          1. Habilidade na estilização de suas aplicações
        </h3>
        <p class="textContent">
          No MyBeautifulCSS, você tem a oportunidade de criar uma página que vai
          além do conteúdo: ela será uma demonstração concreta de sua habilidade
          em trabalhar com estilização na web. Por meio de uma abordagem
          personalizada e visualmente atrativa, você pode destacar sua
          capacidade de criar layouts criativos, usar cores e tipografia de
          maneira harmônica e aplicar conceitos avançados de CSS. <br><br>É uma forma
          prática de apresentar seu potencial técnico a possíveis recrutadores e
          mostrar como suas habilidades podem se traduzir em resultados únicos e
          impressionantes.
        </p>
      </div>
      <div class="topic">
        <h3 class="subtitle">2. Capacidade de aprendizado</h3>
        <p class="textContent">
          Participar é uma oportunidade de mostrar mais do que habilidades
          técnicas: é uma forma de demonstrar sua capacidade de aprender e se
          adaptar. Ao explorar novas possibilidades de estilização, testar
          diferentes abordagens e aplicar conceitos de forma criativa, você
          comprova sua habilidade de buscar conhecimento e transformá-lo em
          soluções eficientes. <br><br>Essa experiência revela sua iniciativa em se
          atualizar e sua disposição em dominar ferramentas e técnicas para
          alcançar resultados consistentes e bem executados.
        </p>
      </div>
    </div>
    <div class="row2">
      <div class="topic">
        <h3 class="subtitle">3. Originalidade e Personalidade</h3>
        <p class="textContent">
          Você tem a liberdade de criar uma página que seja um reflexo de sua
          própria identidade. É uma oportunidade para mostrar como sua
          criatividade pode se traduzir em designs únicos e cativantes. Ao usar
          cores, formas, tipografia e outros elementos de maneira personalizada,
          você demonstra não apenas suas habilidades técnicas, mas também sua
          capacidade de criar algo autêntico e relevante. <br><br> Essa abordagem permite
          que possíveis recrutadores vejam além do código, reconhecendo sua
          sensibilidade estética e originalidade como desenvolvedor.
        </p>
      </div>
      <div class="topic">
        <h3 class="subtitle">4. Prática de Desing Responsivo</h3>
        <p class="textContent">
          Em um mundo cada vez mais conectado, a capacidade de criar páginas que
          se adaptem a diferentes dispositivos e tamanhos de tela é essencial. A
          plataforma incentiva você a aplicar práticas de design responsivo para
          garantir que suas criações ofereçam uma experiência consistente e
          agradável, seja em um smartphone, tablet ou desktop. <br><br>Demonstrar
          domínio em responsividade não é apenas um requisito técnico, mas
          também uma forma de mostrar sua preocupação com acessibilidade e
          experiência do usuário, qualidades altamente valorizadas no mercado.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="c3">
  <div class="creator">
    <img class="creatorPic" src="profilePic.jpg" alt="Foto do Criador do site">
    <h2 class="creatorName">Guilherme Falcão</h2>
    <p class="creatorDescription">Desenvolvedor Full-Stack Javascript</p>
  </div>

  <div class="contentText">
    <h1 class="title">Quem é o criador do site?</h1>
    <div class="textContainer">
      <p class="text">Meu nome é Guilherme, sou um desenvolvedor <br> Full-Stack focado em Javascript,
        Angular e Node JS, <br>atualmente estagiando no time de desenvolvimento da PSO
        Engenharia Elétrica. <br><br>Comecei minha jornada no universo Front-End aprendendo HTML,
        CSS e JavaScript, passando, posteriormente, a mergulhar mais afundo nas tecnologias atuais
        e boas práticas modernas, além de me aventurar no Back-End em Node, podendo ampliar meu repertório. <br><br>
        Hoje, meu foco é aprender ainda mais e participar de projetos que me permitam crescer como profissional e
        pessoa,
        me tornando, aos poucos, o desenvolvedor que tanto sonho em ser, alguém que gera resultado e ajuda
        os outros a gerarem também.
      </p>
    </div>
  </div>
</div>

<div class="c4">
  <h1 class="title">Como fazer parte?</h1>
  <div class="step">
    <h3>Clone o nosso projeto no github</h3>
    <p>A partir do <a href="https://github.com/guifalcs/mybeautifulcss">Link</a>
      do nosso repositório, você pode clonar o projeto para sua
      máquina local pela url HTTPS que o github disponibiliza.
    </p>
    <img src="arrow.png" alt="Seta para baixo" loading="lazy">
  </div>
  <div class="step">
    <h3>Crie seu perfil no projeto</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Aperiam consectetur dolor minima pariatur veniam ducimus
      maiores odio ut doloremque quidem?
    </p>
    <img src="arrow.png" alt="Seta para baixo" loading="lazy">
  </div>
</div>
