<div class="c1">
  <div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div>

  <div class="content">
    <h1 class="title">
      Mostre suas habilidades em estilização para seus recrutadores
    </h1>
    <p class="subtitle">
      Amplie seu portifólio e seus conhecimentos na estilização de aplicações
      web
    </p>
    <div class="buttons">
      <button class="start">COMEÇAR</button>
      <button class="discover">DESCUBRA</button>
    </div>
  </div>
</div>

<div class="c2">
  <h1 class="title">O que você transmite ao participar do projeto?</h1>
  <div class="topics">
    <div class="row1">
      <div class="topic">
        <h3 class="subtitle">
          1. Habilidade na estilização de suas aplicações
        </h3>
        <p class="textContent">
          No MyBeautifulCSS, você tem a oportunidade de criar uma página que vai
          além do conteúdo: ela será uma demonstração concreta de sua habilidade
          em trabalhar com estilização na web. Por meio de uma abordagem
          personalizada e visualmente atrativa, você pode destacar sua
          capacidade de criar layouts criativos, usar cores e tipografia de
          maneira harmônica e aplicar conceitos avançados de CSS. É uma forma
          prática de apresentar seu potencial técnico a possíveis recrutadores e
          mostrar como suas habilidades podem se traduzir em resultados únicos e
          impressionantes.
        </p>
      </div>
      <div class="topic">
        <h3 class="subtitle">2. Capacidade de aprendizado</h3>
        <p class="textContent">
          Participar é uma oportunidade de mostrar mais do que habilidades
          técnicas: é uma forma de demonstrar sua capacidade de aprender e se
          adaptar. Ao explorar novas possibilidades de estilização, testar
          diferentes abordagens e aplicar conceitos de forma criativa, você
          comprova sua habilidade de buscar conhecimento e transformá-lo em
          soluções eficientes. Essa experiência revela sua iniciativa em se
          atualizar e sua disposição em dominar ferramentas e técnicas para
          alcançar resultados consistentes e bem executados.
        </p>
      </div>
    </div>
    <div class="row2">
      <div class="topic">
        <h3 class="subtitle">3. Originalidade e Personalidade</h3>
        <p class="textContent">
          Você tem a liberdade de criar uma página que seja um reflexo de sua
          própria identidade. É uma oportunidade para mostrar como sua
          criatividade pode se traduzir em designs únicos e cativantes. Ao usar
          cores, formas, tipografia e outros elementos de maneira personalizada,
          você demonstra não apenas suas habilidades técnicas, mas também sua
          capacidade de criar algo autêntico e relevante. Essa abordagem permite
          que possíveis recrutadores vejam além do código, reconhecendo sua
          sensibilidade estética e originalidade como desenvolvedor.
        </p>
      </div>
      <div class="topic">
        <h3 class="subtitle">4. Prática de Desing Responsivo</h3>
        <p class="textContent">
          Em um mundo cada vez mais conectado, a capacidade de criar páginas que
          se adaptem a diferentes dispositivos e tamanhos de tela é essencial. A
          plataforma incentiva você a aplicar práticas de design responsivo para
          garantir que suas criações ofereçam uma experiência consistente e
          agradável, seja em um smartphone, tablet ou desktop. Demonstrar
          domínio em responsividade não é apenas um requisito técnico, mas
          também uma forma de mostrar sua preocupação com acessibilidade e
          experiência do usuário, qualidades altamente valorizadas no mercado.
        </p>
      </div>
    </div>
  </div>
</div>
