@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.c1{
  background-color: #3399ff;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    .title {
      font-family: 'Oi';
      font-weight: 500;
      color: rgb(255, 255, 255);
      text-shadow:
        2px 2px 0px #FF7F3E,
        6px 6px 0px #80C4E9,
        8px 8px 0px #604CC3,
        10px 10px 0px #FF7F3E,
        14px 14px 0px #851b0d,
        8px 8px 0px #604CC3,
        12px 12px 0px #FF7F3E;
      -webkit-text-stroke: 0.2px black;
      animation: float 6s ease-in-out infinite, gradient 8s linear infinite;
    }

    .subtitle{
      font-family: 'Lexend';
      margin-top: 2em;
      font-size: 1.2em;
      font-weight: 500;
      color: white;
    }
  }

  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }

  .small{
    background-color: #FF7F3E;
    width: 10em;
    height: 10em;
    left: -5em;
    top: -5em;
  }

  .medium{
    width: 30em;
    height: 30em;
    left: -10em;
    top: -10em;
  }

  .large{
    background-color: #80C4E9;
    width: 50em;
    height: 50em;
    left: -20em;
    top: -20em;
  }

  .xlarge{
    background-color: #FFF6E9;
    width: 70em;
    height: 70em;
    left: -30em;
    top: -30em;
  }

  .xxlarge{
    background-color: #604CC3;
    width: 90em;
    height: 90em;
    left: -40em;
    top: -40em;
  }

  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }

  .shade3{
    opacity: 0.7;
  }

  .shade4{
    opacity: 0.8;
  }

  .shade5{
    opacity: 0.9;
  }

  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }

    50%{
      transform: scale(1);
    }

    100%{
      transform: scale(0.8);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
