@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//Container 1
.c1{
  background-color: #3399ff;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lexend';

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    .title {
      font-family: 'Oi';
      font-weight: 500;
      color: rgb(255, 255, 255);
      text-shadow:
        2px 2px 0px #FF7F3E,
        6px 6px 0px #80C4E9,
        8px 8px 0px #604CC3,
        10px 10px 0px #FF7F3E,
        14px 14px 0px #851b0d,
        8px 8px 0px #604CC3,
        12px 12px 0px #FF7F3E;
      -webkit-text-stroke: 0.2px black;
      animation: float 6s ease-in-out infinite, gradient 8s linear infinite;
    }

    .subtitle{
      margin-top: 2em;
      font-size: 1.2em;
      font-weight: 500;
      color: white;
    }

    .buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 1em;
      margin-top: 1.5em;

      button{
        transition: 2s;
        appearance: button;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 900;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        padding: 13px 16px;
        text-align: center;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 20em;

        &:hover{
          cursor: pointer;
          transform: scale(1.05);
        }

        &:after {
          background-clip: padding-box;
          border: solid transparent;
          border-radius: 16px;
          border-width: 0 0 4px;
          bottom: -4px;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
        }

        &:focus {
          user-select: auto;
        }

        &:hover:not(:disabled) {
          filter: brightness(1.1);
          -webkit-filter: brightness(1.1);
        }

        &:disabled {
          cursor: auto;
        }


      &:active {
        border-width: 4px 0 0;
        background: none;
      }
     }
      }

      .start{
        background-color: #80C4E9;
      }

      .discover{
        background-color: #FF7F3E;
      }
    }
  }

  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }

  .small{
    background-color: #FF7F3E;
    width: 10em;
    height: 10em;
    left: -5em;
    top: -5em;
  }

  .medium{
    width: 30em;
    height: 30em;
    left: -10em;
    top: -10em;
  }

  .large{
    background-color: #80C4E9;
    width: 50em;
    height: 50em;
    left: -20em;
    top: -20em;
  }

  .xlarge{
    background-color: #FFF6E9;
    width: 70em;
    height: 70em;
    left: -30em;
    top: -30em;
  }

  .xxlarge{
    background-color: #604CC3;
    width: 90em;
    height: 90em;
    left: -40em;
    top: -40em;
  }

  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }

  .shade3{
    opacity: 0.7;
  }

  .shade4{
    opacity: 0.8;
  }

  .shade5{
    opacity: 0.9;
  }

  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }

    50%{
      transform: scale(1);
    }

    100%{
      transform: scale(0.8);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }


//Container 2
.c2{
  height: fit-content;
  background-color: #80C4E9;
  font-family: 'Oi';
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .title{
    color: white;
    text-shadow: 2px 2px 6px #3399ff;
    -webkit-text-stroke: 0.8px black;
    margin-top: 1em;
  }

  .topics{
    margin-top: 5em;
    width: 100%;
    display: flex;
    font-family: 'Lexend';

    .topic{
    padding: 2em;

      .subtitle{
        color: white;
        -webkit-text-stroke: 0.6px black;
        text-shadow: 2px 2px 2px #3399ff;
        font-weight: 700;
        font-family: 'Anton';
        font-size: 2em;
        }

      .textContent{
        margin-top: 2em;
        font-size: 1.25em;
        text-shadow: 2px 2px 6px rgb(197, 174, 152);
        font-weight: 400;
        color: rgb(17, 35, 92);
      }
    }
  }
}

//Container 3
.c3{
  height: 100vh;
  background: radial-gradient(circle at bottom left, transparent 25%, rgba(128, 196, 233, 0.8) 25.5%,
    rgba(51, 153, 255, 0.8) 36%, transparent 37%, transparent 100%),
  radial-gradient(circle at top right, transparent 34%, rgba(128, 196, 233, 0.8) 34.5%,
    rgba(51, 153, 255, 0.8) 45.5%, transparent 46%, transparent 100%);
  background-size: 3em 3em;
  background-color: #db9d7e;
  opacity: 0.75;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  padding: 2em;

  h2{
    font-size: 2em;
    font-family: "Oi";
    color: white;
    -webkit-text-stroke: 0.8px black;
    text-shadow: 4px 4px 10px #15171a;
    letter-spacing: 2px;
    margin-top: 1em;
  }

  .creator{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 4em;

    .creatorPic{
      border-radius: 100%;
      width: 25em;
      height: 25em;
      border: 5px solid black;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

  }

  .contentText{
    width: 50%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;

    .title{
      font-family: "Oi";
      color: white;
      font-size: 2.5em;
      text-shadow: 4px 4px 8px #15171a;
      -webkit-text-stroke: 0.8px black;
    }

    .textContainer{
      background-color: white;
      margin-top: 2.5em;
      padding: 1.5em;
      border-radius: 2em;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      line-height: 1.5;

      .text{
        font-family: "Lexend";
        font-size: 1.5em;
      }
    }
  }
}
